<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-j2UvlMMEcQTopwqC3FjIBQNjMTn0VPE</string>
	<key>GCM_SENDER_ID</key>
	<string>1071593264588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-4284b</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-4284b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071593264588:ios:fb9642207ec38d83703969</string>
</dict>
</plist>